<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Authorizenet\Model\Directpost" type="Magneto\Authorizenet\Model\Directpost" />
    <preference for="Magento\Authorizenet\Model\Directpost\Request" type="Magneto\Authorizenet\Model\Directpost\Request" />
    <preference for="Magento\Authorizenet\Model\Directpost\Response" type="Magneto\Authorizenet\Model\Directpost\Response" />


</config> 